

section.parallax
{
	position: relative;
	height: auto;
	padding: 180px 0px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

section.parallax:after
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.30);
	z-index: 100;
	content: ' ';
}

section.parallax h1
{
	color: #fff;
	position: relative;
	z-index: 101;
	font-size: 48px;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

section.parallax h2
{
	color: #fff;
	position: relative;
	z-index: 101;
	font-size: 24px;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
}


body
{
	overflow: visible;
}

.main
{
	background-color: rgb(245, 245, 245);
	padding: 10px 0px;
}

.main p
{
	color: rgb(100, 100, 100);
	width: 50%;
	
	margin: 0 auto;
	background-color: rgb(235, 235, 235);
	
	
	padding: 40px;
	text-align: center;
}