.main
{
	/*flex: 100%;*/
	/*background-color: white;*/
	padding: 400px;
	z-index: 1;
	text-decoration: none;
	
	background-image: url('../images/backgrounds/sback.jpg'); /* ss.jpg*/
	/*background-repeat: no-repeat;
	background-size: 100% 100%;*/
	box-sizing: border-box;
	
	width: 100%;
	max-width: 100%;
}



div.planet
{
	text-align: center;
}

div.planet.sun
{
	position: relative;
	top: -200px;
}

div.planet.mercury
{
	position: relative;
	top: -100px;
}

div.planet.venus
{
	position: relative;
	top: -100px;
}

div.planet.earth
{
	position: relative;
	top: -200px;
}

div.planet.moon
{
	position: relative;
	top: -50px;
	right: -100px;
}

div.planet.mars
{
	position: relative;
	top: -200px;
}

div.planet.jupiter
{
	position: relative;
	top: -200px;
}

div.planet.saturn
{
	position: relative;
	top: -200px;
}
div.planet.uranus
{
	position: relative;
	top: -200px;
}
div.planet.neptune
{
	position: relative;
	top: -200px;
}

img.img-planet
{
	transition: 200ms;
	z-index: 4;
	position: relative;
}

img.img-planet:hover
{
	z-index: 4;
	transform: scale(1.1, 1.1);
}



p.img-earth-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 200ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-earth-text
{
	text-decoration: none;
	z-index: 1;
	top: -200px;
	right: -120px;
	opacity: 1;
	color: white;
}






p.img-moon-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-moon-text
{
	text-decoration: none;
	z-index: 1;
	top: -120px;
	right: -80px;
	opacity: 1;
	color: white;
}

p.img-mercury-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-mercury-text
{
	text-decoration: none;
	z-index: 1;
	top: -225px;
	right: -125px;
	opacity: 1;
	color: white;
}

p.img-venus-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-venus-text
{
	text-decoration: none;
	z-index: 1;
	top: -225px;
	right: -125px;
	opacity: 1;
	color: white;
}



p.img-mars-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-mars-text
{
	text-decoration: none;
	z-index: 1;
	top: -180px;
	right: -110px;
	opacity: 1;
	color: white;
}



p.img-jupiter-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-jupiter-text
{
	text-decoration: none;
	z-index: 1;
	top: -340px;
	right: -220px;
	opacity: 1;
	color: white;
}



p.img-saturn-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-saturn-text
{
	text-decoration: none;
	z-index: 1;
	top: -200px;
	right: -160px;
	opacity: 1;
	color: white;
}



p.img-uranus-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-uranus-text
{
	text-decoration: none;
	z-index: 1;
	top: -250px;
	right: -120px;
	opacity: 1;
	color: white;
}



p.img-neptune-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-neptune-text
{
	text-decoration: none;
	z-index: 1;
	top: -250px;
	right: -120px;
	opacity: 1;
	color: white;
}



p.img-sun-text
{
	text-decoration: none;
	z-index: 1;
	opacity: 0;
	color: black;
	transition: 300ms;
	position: relative;
	user-select: none;
	
	top: -100px;
	right: -40px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 24px;
}

img.img-planet:hover + p.img-sun-text
{
	text-decoration: none;
	z-index: 1;
	top: -300px;
	right: -200px;
	opacity: 1;
	color: white;
}
