/* Fonturi*/

body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.header
{
	padding: 80px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

.header h1
{
	font-size: 40px;
}



/*.navbar a
{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	position: relative;
}*/



.row
{
	display: flex;
	flex-wrap: wrap;
}

.side
{
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}

.main
{
	flex: 70%;
	background-color: white;
	padding: 20px;
}

@media screen and (max-width: 700px)
{
	.row
	{
		flex-direction: column;
	}
}

@media screen and (max-width: 400px)
{
	.navbar ul
	{
		float: none;
		width: 100%;
	}
}

.footer
{
	padding: 20px;
	text-align: center;
	background: #ddd;
}

.navbar
{
	/*overflow: hidden;*/
	background-color: #333;
	color: #333;
	background: #333;
	white-space: nowrap;
}

.navbar > ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	display: block;
	/*padding-bottom: 55px;*/
	white-space: nowrap;
	height: 55px;
	max-width: 100%;
	
}

.navbar > ul > li
{
	float: left;
	width: 150px;
	height: 55px;
	line-height: 55px;
	position: relative;
	font-size: 18px;
	color: white;
	background-color: #333;
	background: #333;
}

.navbar ul > li.right
{
	float: right;
	white-space: nowrap;
}

.navbar ul > li:hover
{
	background-color: #ddd;
	color: black;
}



ul.drop-menu
{
	position: absolute;
	top: 100%;
	left: 0%;
	width: 100%;
	padding: 0;
}

ul.drop-menu li
{
	background: #ddd;
	color: white;
	
	display: none;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	
	/*animation: drop-anim-pop 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;*/
}





li:hover > ul.drop-menu li
{
	color: black;
	display: block;
	opacity: 1;
}

li:hover > ul.drop-menu li:hover
{
	color: white;
	background: #333;
	opacity: 1;
	
	/*animation: drop-anim-li 600ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;*/
}


ul.drop-menu li.drop-menu-1
{
	animation: drop-anim-fall-1 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/*ul.drop-menu > li.drop-menu-1:hover
{
	animation: drop-anim-li 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}*/

ul.drop-menu li.drop-menu-2
{
	animation: drop-anim-fall-2 300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

ul.drop-menu li.drop-menu-3
{
	animation: drop-anim-fall-3  300ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


@keyframes drop-anim-li
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 1;
	}
}

@keyframes drop-anim-fall-1
{
	0%
	{
		opacity: 0;
		transform: translateY(-30px) scale(1, 0);
		-webkit-transform: translateY(-30px) scale(1, 0);
	}
	75% { opacity: 1; }
	100%
	{
		opacity: 1;
		transform: translateY(0px) scale(1, 1);
		-webkit-transform: translateY(0px) scale(1, 1);
	}
}

@keyframes drop-anim-fall-2
{
	0%
	{
		opacity: 0;
		transform: translateY(-100px) scale(1, 0);
		-webkit-transform: translateY(-100px) scale(1, 0);
	}
	50% { opacity: 0.8; }
	100%
	{
		opacity: 1;
		transform: translateY(0px) scale(1, 1);
		-webkit-transform: translateY(0px) scale(1, 1);
	}
}

@keyframes drop-anim-fall-3
{
	0%
	{
		opacity: 0;
		transform: translateY(-170px) scale(1, 0);
		-webkit-transform: translateY(-170px) scale(1, 0);
	}
	50% { opacity: 0.75; }
	100%
	{
		opacity: 1;
		transform: translateY(0px) scale(1, 1);
		-webkit-transform: translateY(0px) scale(1, 1);
	}
}
